orchestration/flows/gdelt_daily_pipeline.yml
id: gdelt_daily_pipeline
namespace: gdelt

description: |
  Daily GDELT ingestion pipeline.
  Runs every morning at 7AM UTC (after GDELT posts by 6AM EST).
  Steps:
    1. Compute target date (yesterday or backfill date)
    2. Download GDELT export ZIP and upload raw CSV to GCS
    3. Load CSV from GCS into BigQuery raw table
    4. Run dbt transformations (cloned from GitHub)
    5. Log summary

variables:
  gcp_project: "organic-phoenix-484620-p3"
  gcs_bucket: "organic-phoenix-484620-p3-gdelt-lake"
  environment: "prod"
  github_username: "Rajput2000"
  github_repo: "GDELT-ANALYSIS"

labels:
  project: gdelt-pipeline

triggers:
  - id: daily_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 7 * * *"
    lateMaximumDelay: PT2H

tasks:

  # ── 1. Compute target date ───────────────────────────────
  - id: compute_date
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: python:3.11-slim
    beforeCommands:
      - pip install kestra --quiet
    script: |
      from datetime import date, timedelta
      from kestra import Kestra

      trigger_date = "{{ trigger.date ?? '' }}"
      if trigger_date:
          target = trigger_date[:10]
      else:
          target = str(date.today() - timedelta(days=1))

      print(f"Target date: {target}")
      Kestra.outputs({"target_date": target})

  # ── 2. Clone repo, ingest GDELT → GCS → BigQuery ────────
  - id: ingest
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: python:3.11-slim
    inputFiles:
      sa-key.json: "{{ secret('GCP_SA_KEY') }}"
    env:
      GCP_PROJECT: "{{ vars.gcp_project }}"
      GCS_BUCKET: "{{ vars.gcs_bucket }}"
    beforeCommands:
      - cp {{workingDir}}/sa-key.json /tmp/sa-key.json
      - export GOOGLE_APPLICATION_CREDENTIALS=/tmp/sa-key.json
      - apt-get update -qq && apt-get install -y git --quiet
      - pip install google-cloud-storage google-cloud-bigquery google-auth requests --quiet
      - git clone https://github.com/{{ vars.github_username }}/{{ vars.github_repo }}.git /tmp/gdelt-repo
    commands:
      - export GOOGLE_APPLICATION_CREDENTIALS=/tmp/sa-key.json && python /tmp/gdelt-repo/pipeline/ingest_gdelt.py --date {{ outputs.compute_date.vars.target_date }}

  # ── 3. Run dbt transformations ───────────────────────────
  - id: dbt_run
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: python:3.11-slim
    inputFiles:
      sa-key.json: "{{ secret('GCP_SA_KEY') }}"
    env:
      DBT_GCP_PROJECT: "{{ vars.gcp_project }}"
    beforeCommands:
      - cp {{workingDir}}/sa-key.json /tmp/sa-key.json
      - export GOOGLE_APPLICATION_CREDENTIALS=/tmp/sa-key.json
      - apt-get update -qq && apt-get install -y git --quiet
      - pip install dbt-bigquery --quiet
      - git clone https://github.com/{{ vars.github_username }}/{{ vars.github_repo }}.git /tmp/gdelt-repo
    commands:
      - export GOOGLE_APPLICATION_CREDENTIALS=/tmp/sa-key.json && cd /tmp/gdelt-repo/dbt && dbt deps --profiles-dir . && dbt run --select tag:gdelt --profiles-dir . --target prod && dbt test --select tag:gdelt --profiles-dir . --target prod

  # ── 4. Log summary ──────────────────────────────────────
  - id: log_summary
    type: io.kestra.plugin.core.log.Log
    message: |
      Pipeline complete for {{ outputs.compute_date.vars.target_date }}.
      BQ: {{ vars.gcp_project }}.gdelt_raw.events

errors:
  - id: notify_failure
    type: io.kestra.plugin.core.log.Log
    level: ERROR
    message: |
      GDELT pipeline FAILED.
      Date  : {{ outputs.compute_date.vars.target_date ?? 'unknown' }}
      Task  : {{ error.taskId }}
      Error : {{ error.message }}
