orchestration/flows/gdelt_daily_pipeline.yml
id: gdelt_daily_pipeline
namespace: gdelt

description: |
  Daily GDELT ingestion pipeline.
  Runs every morning at 7AM UTC (after GDELT posts by 6AM EST).
  Steps:
    1. Compute target date (yesterday or backfill date)
    2. Download GDELT export ZIP and upload raw CSV to GCS
    3. Load CSV from GCS into BigQuery raw table
    4. Run dbt transformations (cloned from GitHub)
    5. Log summary

labels:
  project: gdelt-pipeline

triggers:
  - id: daily_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 7 * * *"
    lateMaximumDelay: PT2H

tasks:

  # ── 1. Compute target date ───────────────────────────────
  - id: compute_date
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    beforeCommands:
      - pip install kestra --quiet
    commands:
      - python3 -c "
        from datetime import date, timedelta;
        from kestra import Kestra;
        trigger_date = '{{ trigger.date ?? \"\" }}';
        target = trigger_date[:10] if trigger_date else str(date.today() - timedelta(days=1));
        print(f'Target date: {target}');
        Kestra.outputs({'target_date': target})
        "

  # ── 2. Clone repo, ingest GDELT → GCS → BigQuery ────────
  # Uses the same ingest_gdelt.py script as local runs so
  # ingestion logic lives in one place.
  - id: ingest
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    env:
      GCP_PROJECT: "{{ globals.gcp_project }}"
      GCS_BUCKET: "{{ globals.gcs_bucket }}"
      GOOGLE_APPLICATION_CREDENTIALS: /secrets/gdelt-sa-key.json
    beforeCommands:
      - apt-get update -qq && apt-get install -y git --quiet
      - pip install google-cloud-storage google-cloud-bigquery google-auth requests --quiet
      - git clone https://github.com/{{ globals.github_username }}/{{ globals.github_repo }}.git /tmp/gdelt-repo
    commands:
      - python /tmp/gdelt-repo/pipeline/ingest_gdelt.py --date {{ outputs.compute_date.vars.target_date }}

  # ── 3. Run dbt transformations ───────────────────────────
  - id: dbt_run
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    env:
      DBT_GCP_PROJECT: "{{ globals.gcp_project }}"
      GOOGLE_APPLICATION_CREDENTIALS: /secrets/gdelt-sa-key.json
    beforeCommands:
      - pip install dbt-bigquery --quiet
    commands:
      - cd /tmp/gdelt-repo/dbt && dbt deps --profiles-dir . && dbt run --select tag:gdelt --profiles-dir . --target prod && dbt test --select tag:gdelt --profiles-dir . --target prod

  # ── 4. Cleanup & log summary ─────────────────────────────
  - id: cleanup
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - rm -rf /tmp/gdelt-repo

  - id: log_summary
    type: io.kestra.plugin.core.log.Log
    message: |
      Pipeline complete for {{ outputs.compute_date.vars.target_date }}.
      BQ: {{ globals.gcp_project }}.gdelt_raw.events

errors:
  - id: notify_failure
    type: io.kestra.plugin.core.log.Log
    level: ERROR
    message: |
      GDELT pipeline FAILED.
      Date  : {{ outputs.compute_date.vars.target_date ?? 'unknown' }}
      Task  : {{ error.taskId }}
      Error : {{ error.message }}